<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p>
                Search:
                <input ng-model="phoneList.query" />
            </p>

            <p>
                Sort by:
                <select ng-model="phoneList.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">
            <ul>
                <li ng-repeat="phone in phoneList.phones  | filter:phoneList.query | orderBy:phoneList.orderProp track by $index">
                    <span>{{phone.name}}</span>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
